img {
    object-fit: cover;
    width: 250px;
}

.bookService  {
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    font-weight: bold;
  font-style: normal;
}

* {
    font-size: 22px;
}

.main {
    float: left;
    margin: 80px;
    float: left;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    width: 250px;
    border-radius: 12px;
    padding: 40px;
    overflow-x: hidden;
    max-height: 350px;
}

.details div span{
    font-weight: bold;
}

.main .bookimg {
    position: relative;
    width: 500px;
}

.details {
    text-align: center;
}

button{
  color: white;
  background-color: #232536;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  border: none;
  margin-top: 50px;
  margin-left: 70px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0088a9;
}
