<!-- <app-top-bar></app-top-bar> -->

<div class="bookService">
    Welcome to Book Service!
</div>

<div *ngFor="let book of bookm" class="main">
    <div class="bookimg">
        <img src="{{book.imageURL}}">
    </div>
    <div class="details">
        <div>
            <span>Title:</span> {{book.title}}
        </div>
        <div>
            <span>Author:</span> {{book.author}}
        </div>
        <div>
            <span>Description:</span> {{book.description}}
        </div>
    </div>
    <button >Add to Like</button>
</div>
