<header>
  <h1>Student Profile</h1>
</header>
<main>
  <section>
    <h2>Username</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
  </section>
  <section>
    <h2>My likes</h2>
    <div class="buttons">
      <button class="like-books">Like Books</button>
      <button class="like-foods">Like Foods</button>
      <button class="like-products">Like Products</button>
    </div>
  </section>
</main>
<footer>
  <button class="settings" routerLink="/settings">Settings</button>
</footer>
