<div class="main">
  <div class="about-section">
    <h1>Nice to meet You)</h1>
    <p>Some text about who we are and what we do.</p>
  </div>

  <h2 id="ourteam" style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/zyro-image.png" alt="Era" style="width:100%">
        <div class="container">
          <h2>Abdurakhman Yerdaulet</h2>
          <p class="title">Backend & Android</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>era@example.com</p>
          <p><button class="button" (click)="contactYerdaulet()">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/zhuldyz%20(1).png" alt="Zhuldyz" style="width:100%">
        <div class="container">
          <h2>Amanzhol Zhuldyz</h2>
          <p class="title">Desing & Figma</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>zhuldyz@example.com</p>
          <p><button class="button" (click)="contactZhuldyz()">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/baha%20(1).png" alt="Baha" style="width:100%">
        <div class="container">
          <h2>Alaidar Bakdaulet</h2>
          <p class="title">Python & Frontend</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>baha@example.com</p>
          <p><button class="button" (click)="contactBakdaulet()">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

</div>
