<app-top-bar></app-top-bar>

<div class="FoodService">
    Welcome to Food Service!
</div>

<div *ngFor="let food of foods" class="main">
    <div class="main-part">
        <div class="foodphoto">
            <img src="{{food.imageURL}}">
        </div>
        <div class="detail">
            <div>
                Name: {{food.name}}
            </div>
            <div>
                Cost: {{food.cost}}$
            </div>

            Recepts: {{food.resepts}}
        </div>
        <button class="like">Add to like</button>
    </div>
</div>
