<div class="container">

  <div class="words">
    <h2>Project for <span>Web Dev</span></h2>
    <h1>Student Support Services <span>helps every student</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eaque earum esse eum facere fugiat itaque placeat
      sint veniam veritatis. <br> Animi consequuntur corporis cum ex laboriosam minima necessitatibus qui, totam?</p>

    <div class="reg_home">
      <button id="singin" routerLink="login">Login</button>
      <button id="guest" routerLink="register">Register</button>
    </div>
  </div>

  <div class="devs">
    <h3>By <span>Amanzhol Zhuldyz, Alaidar Bakdaulet, Abdurakhman Yerdaulet</span></h3>
    <h4>Spring, 2023</h4>

  </div>
</div>
